.grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 4mm;
}
.cell {
    width: 1cm;
    height: 1cm;
    border: 1px solid black;
    margin-right: -1px;
    margin-bottom: -1px;
}

.start--h {
    box-shadow: inset 2px 0 1px black;
}
.start--v {
    box-shadow: inset 0 2px 2px black
}
.empty {
    border: 1px solid transparent;
}
.cell_number {
    padding-left: 2px;
    font-size: smaller;
}
.grid-row {
    display: flex;
}
.title, .question__id {
    font-weight: bold;
    padding-right: 1mm;
}
.question {
    padding-right: 1mm;
}
