.grid {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cell {
    width: 1cm;
    height: 1cm;
    border: 1px solid black;
    margin-right: -1px;
    margin-bottom: -1px;
    box-sizing: border-box;
}

.start--h {
    box-sizing: border-box;
    border-left: 3px solid black;
}
.start--v {
    box-sizing: border-box;
    border-top: 3px solid black;
}
.empty {
    border: 1px solid transparent;
}
.cell_number {
    padding-left: 2px;
    font-size: smaller;
}
.grid-row {
    display: flex;
}
.title, .question__id {
    font-family: sans-serif;
    font-weight: bold;
    padding-right: 1mm;
}
.questions {
    padding-top: 3mm;
}
.title {

}
.question {
    padding-right: 1mm;
    font-family: sans-serif;
}
